[Unit]
Description=Atrium Display Manager
After=systemd-logind.service
Requires=systemd-logind.service
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/local/bin/atrium
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
Alias=display-manager.service
